.container {
  display: grid;
  align-items: left;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
}

.container2 {
  display: grid;
  align-items: left;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.container3 {
  display: grid;
  align-items: left;
  grid-template-columns: 1fr 3fr;
  column-gap: 10px;
}

.image {
  width: 100%;
  height: 100%;
}

.text {
  font-size: 15px;
}

.centered-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.orange {
  color: #d96349;
}

.purple {
  color: #a8b3eb;
}

a.class1:link,
a.class1:visited {
  color: #a8b3eb;
  background-color: transparent;
}

a.class2:link,
a.class2:visited {
  color: #d96349;
  background-color: transparent;
}
